apiVersion: v1
kind: PersistentVolume
metadata:
  name: '{{ ansible_operator_meta.name }}-elastic-pv'
spec:
  capacity:
    storage: 8Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: '{{ storage_class_name }}'
  nfs:
    path: {{ nfs_base_path }}/elastic
    server: {{ nfs_server }}