kind: Secret
apiVersion: v1
metadata:
  name: '{{ ansible_operator_meta.name }}-mastodon-secret'
  namespace: '{{ ansible_operator_meta.namespace }}'
data:
  DB_PASS: '{{ postgres_password | b64encode }}'
  SMTP_PASSWORD: '{{ smtp_password | b64encode }}'
  OTP_SECRET: '{{ otp_secret | b64encode }}'
  SECRET_KEY_BASE: '{{ secret_key_base | b64encode }}'
  VAPID_PUBLIC_KEY: '{{ vapid_public_key | b64encode }}'
  VAPID_PRIVATE_KEY: '{{ vapid_private_key | b64encode }}'
{% if s3_enabled %}
  AWS_ACCESS_KEY_ID: '{{ s3_access_key_id | b64encode }}'
  AWS_SECRET_ACCESS_KEY: '{{ s3_secret_access_key | b64encode }}'
{% endif %}